<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MEGHA STORE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="col-md-2" style="padding-top:20px;">
            <ul>
                <li>
                    ========
                </li>
                <li>
                    @Html.ActionLink("Magazine", "index", "p_magazine")
                </li>
                <li>
                    @Html.ActionLink("Publication", "index", "p_publication")
                </li>
                <li>
                    @Html.ActionLink("Articles", "index", "p_articles")
                </li>
                <li>
                    @Html.ActionLink("Author & Articles", "index", "p_author_articles")
                </li>
                <li>
                    @Html.ActionLink("Author", "index", "p_author")
                </li>
                <li>
                    ========
                </li>
                <li>
                    @Html.ActionLink("Transaction", "index", "p_transaction")
                </li>
                <li>
                    @Html.ActionLink("Items", "index", "p_items")
                </li>
                @*<li>
                    @Html.ActionLink("Purchase", "index", "p_purchase")
                </li>*@
                <li>
                    ========
                </li>
                <li>
                    @Html.ActionLink("Customer", "index", "p_customer")
                </li>
                <li>
                    @Html.ActionLink("Employee", "index", "p_employee")
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SMU application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
